* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid beige;
}

.text, .main-datos .div-datos .datos {
  font-size: 1.5rem;
  text-align: justify;
  color: black;
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: italic;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px #000000;
  margin: 0;
}

.title {
  text-align: center;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(196, 185, 171);
  padding: 10px;
  margin: 0;
}

.whatsapp-container {
  position: fixed;
  bottom: 70px;
  right: 5px;
  z-index: 9999;
}

.whatsapp-icon {
  width: 50px;
  height: 50px;
  background-color: none;
  border: none;
  border-radius: 0;
}

.container-tittle {
  opacity: 0;
  animation: enterFromOutside 1.5s forwards;
}

@keyframes enterFromOutside {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
.container-tittle-two {
  animation: enterFromOutside 1.8s forwards;
}

.container-text-right {
  animation: enterFromOutsideR 1.8s forwards;
}

@keyframes enterFromOutsideR {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
header {
  display: flex;
  flex-direction: column;
}
header .header-title {
  flex-basis: 20%;
  text-align: center;
}
header .header-title h1 {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  background-color: #033860;
  margin: 0 0 0 0 !important;
  color: #77b6ea !important;
}
header .header-img {
  height: 150px;
}
header .header-img .img-header {
  border: none;
  border-radius: 0px;
}
header .navbar {
  background-color: #5cace9;
}
header .navbar .navbar-toggler {
  border: none;
  box-shadow: none !important;
}
header .navbar .nav-item {
  width: 100%;
  max-width: 150px;
  text-align: center;
}
header .navbar .nav-item:hover {
  border: 1px groove white;
  border-radius: 20px;
}
header .navbar .nav-item .nav-link {
  font-family: "Dancing Script";
}

.footer-container {
  background-color: #77b6ea;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.footer-container .email-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}
.footer-container .email-form .email-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}
.footer-container .email-form .email-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}
.footer-container .email-form .email-submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #042549;
  color: #fff;
  cursor: pointer;
}
.footer-container .email-form .email-submit:hover {
  background-color: #0056b3;
}
.footer-container .social-container {
  display: flex;
  gap: 10px;
}
.footer-container .social-container .seguinos {
  padding: 5px;
  flex-basis: 50%;
}
.footer-container .social-container .seguinos .footer-text {
  margin: 0;
  font-size: 2rem;
  color: #042549;
  text-align: center;
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: italic;
}
.footer-container .social-container .social-links {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}
.footer-container .social-container .social-links .social-links-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 5px;
}
.footer-container .social-container .social-links .social-links-list .link-logo {
  display: flex;
  text-decoration: none;
  gap: 5px;
  color: blueviolet;
}
.footer-container .social-container .social-links .social-links-list .link-logo .logo {
  color: blueviolet;
  border: none;
  border-radius: 0;
  width: 25px;
  height: 25px;
}
.footer-container .social-container .social-links .social-links-list .link-logo .link-footer {
  font-size: 1rem;
  text-decoration: none;
  color: #042549;
  font-family: "Acme";
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
  margin: 0;
}

@media screen and (min-width: 350px) and (max-width: 575px) {
  .social-container {
    flex-direction: column;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  background-color: #033860;
  padding: 20px;
  gap: 15px;
}
.main-container .img-main-one {
  height: 150px;
  object-position: center 65%;
}

.main-horarios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.main-horarios .item-div {
  display: flex;
  justify-content: center;
}
.main-horarios .item-div .item-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: beige;
  color: black;
  font-size: 1.3rem;
  text-align: center;
  font-family: "Dancing Script";
  font-weight: 700;
  font-style: italic;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px #000000;
  max-width: 200px;
}

.main-form {
  display: flex;
  justify-content: center;
}
.main-form .form-habitaciones {
  gap: 10px;
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 5px;
  border: 2px solid rgb(135, 221, 192);
  justify-content: center;
  align-items: center;
  min-width: 300px;
  padding: 10px;
}
.main-form .form-habitaciones .label-habitaciones {
  font-family: "Acme";
  font-style: italic;
  text-align: center;
}
.main-form .form-habitaciones .input-habitaciones {
  text-align: center;
  justify-content: center;
  width: 200px;
  max-width: 100%;
}
.main-form .form-habitaciones .habitacion-submit {
  border-radius: 30px;
  border: none;
  color: white;
  background-color: #77b6ea;
  width: 100%;
  max-width: 150px;
}
.main-form .form-habitaciones .habitacion-submit:hover {
  background-color: darkblue;
}
@media screen and (min-width: 992px) {
  .main-form .form-habitaciones {
    flex-direction: row;
  }
  .main-form .input-habitaciones {
    max-width: 200px;
  }
  .main-form .habitacion-submit {
    min-width: 50px;
  }
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main-section .room-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image {
  max-height: 250px;
  max-width: 500px;
}

.room-container, .room-container-2 {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.room-description {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.room-images-container {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 20px;
}

.room-container-2 {
  flex-direction: column;
}

.title-text {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(196, 185, 171);
}

.description-text {
  padding: 10px;
  text-align: justify;
}

@media screen and (min-width: 768px) and (max-width: 998px) {
  .room-images-container {
    flex-basis: 50%;
  }
  .room-description {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 992px) {
  .medidas {
    max-width: 300px;
  }
  .room-container, .room-container-2 {
    flex-direction: row-reverse;
  }
  .room-container-2 {
    flex-direction: row;
  }
  .room-images-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    flex-basis: 60%;
  }
  .room-description {
    flex-basis: 40%;
  }
}
.main-div, .main-div-two {
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comidas-img-container {
  text-align: center;
  gap: 10px;
  display: flex;
  justify-content: space-around;
}

.p-container {
  display: flex;
  align-items: center;
  max-width: 1300px;
}

.img-comida {
  max-width: 450px;
  max-height: 550px;
}

.main-servicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main-servicios .article-servicios {
  display: grid;
  padding: 20px;
  gap: 20px;
}
.main-servicios .article-servicios .servicios-div {
  display: flex;
  justify-content: center;
}
.main-servicios .article-servicios .servicios-div .servicios-img {
  max-width: 272px;
}
.main-servicios .article-servicios .servicios-text {
  display: flex;
  justify-self: center;
  align-items: center;
  max-width: 400px;
}

.section-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.main-datos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.main-datos .div-datos {
  flex-direction: column;
  display: flex;
  align-items: center;
}
.main-datos .div-datos .datos {
  max-width: 220px;
  list-style: none;
  padding: 10px !important;
}
.main-datos iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main-consultas {
  display: flex;
  justify-content: center;
}
.main-consultas .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(3, 139, 121);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  width: 100%;
  max-width: 1000px;
}
.main-consultas .form .label-input {
  display: flex;
  flex-direction: column;
}
.main-consultas .form .label-input .label-consultas {
  font-family: "cookie", cursive;
  font-size: 1.8em;
  color: white;
}
.main-consultas .form .label-input .input-consultas {
  border-radius: 10px;
  background-color: rgb(195, 255, 240);
  border: none;
  padding-left: 5px;
}
.main-consultas .form .div-boton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-consultas .form .div-boton .boton {
  width: 100%;
  background-color: rgb(28, 55, 207);
  border-radius: 20px;
  border: none;
  color: white;
  max-width: 350px;
}
.main-consultas .form .div-boton .boton:hover {
  background-color: #77b6ea;
}

@media screen and (min-width: 576px) {
  .main-datos {
    flex-direction: row;
    margin: 20px;
  }
  .iframe {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
