* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid beige;
}

.text, .datos {
  font-size: 2.5vh;
  text-align: justify;
  color: black;
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: italic;
  background-color: beige;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px #000000;
  margin: 0;
}

.title {
  text-align: center;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(196, 185, 171);
  padding: 10px;
  margin: 0;
}

header {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vh;
  background-color: #033860;
  margin: 0 0 0 0 !important;
  color: #77b6ea !important;
}

.header-title {
  flex-basis: 20%;
  text-align: center;
}

.header-img {
  height: 150px;
}

.img-header {
  border: none;
  border-radius: 0px;
}

.navbar {
  background-color: #5cace9;
}

.nav-link, .navbar-brand {
  font-family: "Dancing Script";
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.footer-container {
  background-color: #77b6ea;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.email-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.email-label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.email-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
}

.email-submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #042549;
  color: #fff;
  cursor: pointer;
}

.email-submit:hover {
  background-color: #0056b3;
}

.social-container {
  display: flex;
  gap: 10px;
}

@media screen and (min-width: 350px) and (max-width: 575px) {
  .social-container {
    flex-direction: column;
  }
}
.seguinos {
  padding: 5px;
  flex-basis: 50%;
}

.footer-text {
  margin: 0;
  font-size: 2rem;
  color: #042549;
  text-align: center;
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-style: italic;
}

.social-links {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

.social-links-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: space-around;
  gap: 10px;
  width: 100%;
}

.link-footer {
  font-size: 1rem;
  text-decoration: none;
  color: #042549;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: #033860;
  padding: 20px;
  gap: 10px;
}

.img-main-one {
  max-height: 150px;
  object-position: center 65%;
}

.item-div {
  justify-content: center;
}

.item-ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: beige;
  color: black;
  font-size: 2vh;
  text-align: center;
  font-family: "Dancing Script";
  font-weight: 700;
  font-style: italic;
  margin: 0;
  padding: 10px;
  list-style: none;
  border-radius: 10px;
  box-shadow: 0 10px 20px #000000;
  max-width: 200px;
}

@media screen and (min-width: 350px) and (max-width: 575px) {
  .img-main-two {
    max-height: 150px;
  }
  .img-main-three {
    display: none;
  }
  .img-main-four {
    display: none;
  }
}
.main-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.image {
  max-height: 250px;
  max-width: 500px;
}

.room-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.room-container, .room-container-2 {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.room-description {
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  align-items: center;
}

.room-images-container {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  gap: 20px;
}

.room-container-2 {
  flex-direction: row;
}

/*Estilos Titulo y parrafos main pagina Habitaciones*/
.title-text {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: rgb(196, 185, 171);
}

.description-text {
  padding: 10px;
  text-align: justify;
}

@media screen and (min-width: 350px) and (max-width: 475px) {
  .room-images-container {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}
@media screen and (min-width: 476px) and (max-width: 767px) {
  .room-container, .room-container-2 {
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 998px) {
  .room-images-container {
    flex-basis: 50%;
  }
  .room-description {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 992px) {
  .medidas {
    max-width: 300px;
  }
  .room-images-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    flex-basis: 60%;
  }
  .room-description {
    flex-basis: 40%;
  }
}
.main-div, .main-div-two {
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comidas-img-container {
  text-align: center;
  gap: 10px;
  display: flex;
  justify-content: space-around;
}

.p-container {
  display: flex;
  align-items: center;
  max-width: 1300px;
}

.img-comida {
  max-width: 450px;
  max-height: 550px;
}

.main-servicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.article-servicios {
  display: grid;
  padding: 20px;
  gap: 20px;
}

.servicios-div {
  display: flex;
  justify-content: center;
}

.servicios-text {
  display: flex;
  justify-self: center;
  align-items: center;
  max-width: 400px;
}

.servicios-img {
  max-width: 272px;
}

.section-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
}

.datos {
  max-width: 220px;
  list-style: none;
  padding: 10px !important;
}

.div-datos {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.main-datos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main-consultas {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(3, 139, 121);
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  width: 100%;
  max-width: 1000px;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.div-boton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-consultas {
  font-family: "cookie", cursive;
  font-size: 1.8em;
  color: white;
}

.input-consultas {
  border-radius: 10px;
  background-color: rgb(195, 255, 240);
  border: none;
}

.boton {
  width: 100%;
  background-color: rgb(28, 55, 207);
  border-radius: 20px;
  border: none;
  color: white;
  max-width: 350px;
}

@media screen and (min-width: 576px) {
  .main-datos {
    flex-direction: row;
    margin: 20px;
  }
  .iframe {
    width: 100%;
  }
}
@media screen and (min-width: 350px) and (max-width: 575px) {
  .section-valoraciones {
    display: none;
  }
}

/*# sourceMappingURL=styles.css.map */
