* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid beige;
}
@mixin item-style($background, $color, $size, $text, $family, $weight, $style, $margin, $padding,){
    background-color: $background;
    color: $color;
    font-size: $size;
    text-align: $text;
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
    margin: $margin;
    padding: $padding;
}
.text{
    font-size: 1.5rem;
    text-align: justify;
    color: black;
    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: italic;
    background-color: beige;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 20px #000000;
    margin: 0;
}
@mixin flex-layout($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    text-align: $align;
    gap: $gap;
}
.title {
    text-align: center;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(196, 185, 171);
    padding: 10px;
    margin: 0;
}
.whatsapp-container {
    position: fixed;
    bottom: 70px;
    right: 5px;
    z-index: 9999;
}
.whatsapp-icon {
    width: 50px;
    height: 50px;
    background-color: none;
    border: none;
    border-radius: 0;
}
.container-tittle {
    opacity: 0;
    animation: enterFromOutside 1.5s forwards;
}

@keyframes enterFromOutside {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}
.container-tittle-two{
    animation: enterFromOutside 1.8s forwards;
}
.container-text-right{
    animation: enterFromOutsideR 1.8s forwards;
}
@keyframes enterFromOutsideR {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}