.main-div {
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-div-two {
    @extend .main-div;
}

.comidas-img-container {
    text-align: center;
    gap: 10px;
    display: flex;
    justify-content: space-around;
}

.p-container {
    display: flex;
    align-items: center;
    max-width: 1300px;
}
.img-comida{
    max-width: 450px;
    max-height: 550px;
}