.main-div{
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.main-div-two{
    @extend .main-div;
}
.comidas-img-container{
    text-align: center;
    gap: 10px;
    display: flex;
    flex-basis: 50%;
}
.p-container{
    flex-basis: 50%;
}
.img-comida{
    max-height: 300px;
}
@media screen and (min-width: 992px) {
.main-div{
    flex-direction: row-reverse;
}
.main-div-two{
    flex-direction: row;
}
.p-container{
    margin-top: 0px;
}
.comidas-img-container{
    max-height: 250px;
}
}
