.main-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.image{
    max-height: 250px;
    max-width: 500px;
}

.room-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.room-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.room-description {
    flex-basis: 50%;
}

.room-images-container {
    flex-basis: 50%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 5px;
}

.room-container-2 {
    @extend .room-container;
    flex-direction: row;
}
/*Estilos Titulo y parrafos main pagina Habitaciones*/
.title-text {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: rgb(196, 185, 171);
}

.description-text {
    padding: 10px;
    text-align: justify;
}
@media screen and (min-width: 350px) and (max-width: 475px){
    .room-images-container {
        grid-template-columns: auto;
        grid-template-rows: auto;
}
}
@media screen and (min-width: 476px) and (max-width: 767px){
    .room-container{
        flex-direction: column;
    }


}

@media screen and (min-width: 768px) and (max-width: 998px){ 
    .room-images-container {
        flex-basis: 50%;
    }

    .room-description {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 992px) {
    .room-images-container {
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        flex-basis: 60%;
    }

    .room-description {
        flex-basis: 40%;
    }
}