.main-container {
    display: flex;
    flex-direction: column;
    background-color: #033860;
    padding: 20px;
    gap: 10px;
}
.img-main-one{
    max-height: 150px;
    object-position: center calc(65%);
}




.item-div{
    justify-content: center;
}
.item-ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    @include item-style (beige, black, 2vh, center, "Dancing Script", 700, italic, 0 ,10px);
    list-style: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px #000000;
    max-width: 200px;
}










@media screen and (min-width: 350px) and (max-width: 575px) {
    .img-main-two{
        max-height: 150px;
    }
    .img-main-three{
        display: none;
    }
    .img-main-four{
        display: none;
    }
}