.main-container {
    display: flex;
    flex-direction: column;
    background-color: #033860;
    padding: 20px;
    gap: 15px;
    .img-main-one{
        height: 150px;
        object-position: center calc(65%);
    }
}
.main-horarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    .item-div{
        display: flex;
        justify-content: center;
        .item-ul{
            display: flex;
            flex-direction: column;
            gap: 15px;
            @include item-style (beige, black, 1.3rem, center, "Dancing Script", 700, italic, 0 ,10px);
            list-style: none;
            border-radius: 10px;
            box-shadow: 0 10px 20px #000000;
            max-width: 200px;
        }
    }
}