.main-servicios{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.article-servicios{
    display: grid;
    padding: 20px;
    gap: 20px;
}
.servicios-div{
    display: flex;
    justify-content: center;
}
.servicios-text{
    display: flex;
    justify-self: center;
    align-items: center;
    max-width: 400px;
}
.servicios-img{
    max-width: 272px;
}